/*

Personal Website
=============

Author:  Luis Vasquez

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features {
	text-align: center;
}

.dropdown-backdrop {
  	position: static;
}

#backtop {
	padding-top: 25px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   padding-bottom: 25px;
}

.jumbotron {
	padding: 0em;	
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   
/* --------------------------------------
   Backgrounds
   -------------------------------------- */

#contact {
	background: #eee;
}

#aboutme{
	background: #eee;
	margin-bottom: 50px;
	padding-right: 80px;
	padding-left: 80px;
	width: 100%;
}

#projects {
	background: #eee;
	margin-bottom: 50px;
	padding-right: 80px;
	padding-left: 80px;
	width: 100%;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* --------------------------------------
   Footer
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	html,body {
   		width:100%;
   		overflow-x:hidden;
    }

    #personal {
		font-size: 275%;
		padding-bottom: 25px;
	}

	#aboutme{
		background: #eee;
		margin: auto;
		padding: auto;
		width: 100%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    html,body {
   		width:100%;
   		overflow-x:hidden;
    }

    #personal {
		font-size: 300%;
		padding-top: 0.65em;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	html,body {
   		width:100%;
   		overflow-x:hidden;
    }

    #personal {
		font-size: 315%;
		padding-top: 0.85em;
	}
}